@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 fw-bold fs-3">
            Dashboard
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Total Number of Employees:</h5>
                    <p class="card-text">15</p>
                </div>
                <div class="card-header text-end">View all Employees <i class="bi bi-arrow-right"></i></div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Number of Expired Visas:</h5>
                    <p class="card-text">15</p>
                </div>
                <div class="card-header text-end">View Details <i class="bi bi-arrow-right"></i></div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Number of Visas Near Expiry:</h5>
                    <p class="card-text">15</p>
                </div>
                <div class="card-header text-end">View Details <i class="bi bi-arrow-right"></i></div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Total Number of Students:</h5>
                    <p class="card-text">15</p>
                </div>
                <div class="card-header text-end">View Details <i class="bi bi-arrow-right"></i></div>
            </div>
        </div>



    </div>
</div>